<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <link rel="stylesheet" href="/styles/resets.css" type="text/css">
        <link rel="stylesheet" href="/styles/base.css" type="text/css">
        <link rel="stylesheet" href="/styles/header.css" type="text/css">
        <link rel="stylesheet" href="/styles/form.css" type="text/css">
        <link rel="stylesheet" href="/styles/footer.css" type="text/css"> -->
    </head>

    <body>

        <header>
            <div class="">
                Natural Language Processing
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                
                <form onsubmit="return Client.handleSubmit(event)">
                    <h2>News Article</h2>
                    <input id="url" type="text" name="input" value="" placeholder="url">
                    <input id="name" type="text" name="input" value="" placeholder="Article Name">
                    <input id="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    
                    <!-- <button type="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)"> Submit</button> -->
                </form>
            </section>

            <section>
                <strong>Results:</strong>
                <!-- <div id="results"></div> -->
                <div id="agreement"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="model"></div>
                <div id="score_tag"></div>
                <div id="subjectivity"></div>
            </section>
        </main>

        <footer>
            <p>Sweera Chahal</p>
        </footer>

    </body>
</html>
